@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sansita&display=swap');
*{
    font-family: 'Sansita', sans-serif;
}
body {
    position: relative;
    height: 100vh;
}
#main{
    position: relative;
}

header nav {
    margin-bottom: 10px;
}

#navbarSupportedContent {
    justify-content: flex-end !important;
}


#navBarCompanyName {
    color: #6a1a21;
    font-size: 24px;
    font-weight: bold;
}

.nav-item {
    font-weight: bold;
    font-size: 20px;
}

.nav-item a:hover,
.nav-item a:focus {
    color: red !important;
}

#navBarContactNo {
    padding: 10px;
    padding-bottom: 0;

}

#navBarContactNo:hover {
    cursor: default;
}

#navBarContactNo p:nth-child(1) {
    color: white;
    background-color: red;
}

#navBarContactNo p:nth-child(2) {
    color: black;
}

#loginFormDiv {
    position: absolute;
    z-index: 5;
    right: 10%;
    background-color: white;
    top: 5%;
    border-radius: 5%;
    opacity: 0.9;
}

#loginFormDiv div p svg {
    color: red;
}

#aboutUs {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

}

#aboutUsDiv01 h1 {
    font-weight: bolder;
}
#aboutUsDiv01 p{
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: normal;
    font-size: 1.5em;
}

#aboutUsDiv02 h1 {
    font-weight: bold;
}

#aboutUsDiv02 div div {
    font-size: 1.5em;
    font-weight: bold;
}



